@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.neon-glow {
  text-shadow:
    0 0 5px rgba(129, 140, 248, 0.8),
    0 0 10px rgba(129, 140, 248, 0.8),
    0 0 20px rgba(129, 140, 248, 0.7),
    0 0 40px rgba(99, 102, 241, 0.6),
    0 0 80px rgba(99, 102, 241, 0.5);
  transition: 0.3s ease-in-out;
}

.neon-glow:hover {
  text-shadow:
    0 0 10px rgba(167, 139, 250, 1),
    0 0 20px rgba(167, 139, 250, 1),
    0 0 40px rgba(139, 92, 246, 0.9),
    0 0 80px rgba(139, 92, 246, 0.8);
  transform: scale(1.03);
}
